@media (min-width : 320px ) and (max-width : 767px) {

    header, nav{
        width: 100%;
    }

    .imagen1{
        width: 100%;
    }

    .acor{
        width: 90%;
        margin: auto;
    }

    .video_1{
        width: 100%;
        margin-top: 3em;
    }

}

@media (min-width : 768px ) and (max-width : 1440px) {

    header, nav{
        width: 100%;
    }

    .imagen1{
        width: 100%;
    }

    .acor{
        width: 90%;
        margin: auto;
    }

    .video_1{
        width: 90%;
        margin-top: 3em;
    }
}

@media (min-width : 1440px ) and (max-width : 2560px) {

    header, nav{
        width: 100%;
    }

    .imagen1{
        width: 100%;
    }

    .acor{
        width: 100%;
        margin: auto;
    }

    .akatsuki{
        width: 90%;
    }

    .video_1{
        width: 70%;
        margin-top: 3em;
    }
}