/* custom.scss */
$primary: #5CB8E4;
$secondary:#8758FF;
$dark: #181818;
$white:#F2F2F2;
$danger:#F7DC6F;
$light:#0E6655;
$success:#717D7E;
$warning:#b3a0e9;
$info:#ffa678;
@import "../node_modules/bootstrap/scss/bootstrap";